{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <divl class="row md">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form action="" method="post"> {% csrf_token %}
                <div>
                    {{ form.title.label_tag }} {{ form.title }}
                </div>

                <div>
                    {{ form.url.label_tag }} {{ form.url }}
                </div>

                <button type="submit"> CREATE/UPDATE </button>

            </form>
        </div>
        <div class="col-md-3"></div>
    </divl>
</div>

{% endblock content %}