{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid">
    <h1 style="font-size: 70px ;">SIGN IN</h1>

    <br>
    <br>

    <div class="row md">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="border: 7px solid #B2CCFF ;">
            <form method="post" action="."> {% csrf_token %}
                <div class="row md">
                    <div class="col-md-6">USERNAME : </div>
                    <div class="col-md-6">{{ form.username }}</div>
                </div>

                <div class="row md">
                    <div class="col-md-6">PASSWORD : </div>
                    <div class="col-md-6">{{ form.password }}</div>
                </div>

                <button type="submit"> SIGN IN </button>
                <input type="hidden" value=" {{ next }} ">
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock content %}
