{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container-fluid">
    <h1 style="font-size: 70px ;">PASSWORD CHANGE</h1>

    <br>
    <br>

    <div class="row md">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="border: 7px solid #B2CCFF ;">
            <form method="post" action="."> {% csrf_token %}
                <div class="row md">
                    <div class="col-md-6">OLD PASSWORD : </div>
                    <div class="col-md-6">{{ form.old_password }}</div>
                </div>

                <div class="row md">
                    <div class="col-md-6">NEW PASSWORD 1</div>
                    <div class="col-md-6">{{ form.new_password1 }}</div>
                </div>

                <div class="row md">
                    <div class="col-md-6">NEW PASSWORD 2</div>
                    <div class="col-md-6">{{ form.new_password2 }}</div>
                </div>

                <button type="submit"> PW CHANGE </button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

{% endblock content %}