{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <h1 id="title"> <b> BLOG </b> <span id="small"> <i> made by Me </i> </span></h1>
    <a href="{% url 'blog_create' %}"><button> CREATE </button></a>
    <br>
    <div class="row md" style="text-align: center;">
        <div class="col-md-2"></div>
        <div class="col-md-8 row md">
                {% for post in object_list %}
                    <div class="col-md-4" id="items">
                        <h1 class="des"> <a href="{% url 'blog_detail' post.id %}">{{ post.title }}</a> </h1>
                        {% if post.image %}
                            <img src=" {{ post.image.url }} " alt=" {{ post.description }} ">
                        {% endif %}

                        <p> <span class="des"> {{ post.description }} </span> </p>
                        <p> <span class="des"> CREATE DATE : {{ post.create_date }} </span> </p>
                        <p> <span class="des"> MODIFY DATE : {{ post.modify_date }} </span> </p>
                    </div>
                {% endfor %}
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock content %}