{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container-fluid">
    <div class="row md">
        <div class="col-md-2"></div>
        <div class="col-md-8" style="border: 2px solid #79ABFF ;">
            <div id="content">
                <h1 id="id"> {{ object.title }} </h1>
                <p><span class="des">Description : </span> {{ object.description }} </p>
                <p><span class="des">Create Date : </span> {{ object.create_date }} </p>
                <p><span class="des">Modify Date : </span> {{ object.modify_date }} </p>

                <a href="{% url 'blog_update' post.id %}"><button> UPDATE </button></a>
                <a href="{% url 'blog_delete' post.id %}"><button> DELETE </button></a>

                <div id="imgdiv">
                    {% if object.image %}
                        <img src = "{{ object.image.url }}" alt = "{{ object.title }}" style="width: 500px ;">
                    {% endif %}
                </div>

                <div id="disqus_thread"></div>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

<script>
    {
        (function() {
            var d = document, s = d.createElement('script');
            s.src = 'https://me123-1.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
    }
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock content %}